@import url("https://use.typekit.net/pcd8ehb.css");

:root {
  --white: #ffffff;
  --off: #fffcdd;
  --orange: #fecea8;
  --peach: #ff8c64;
  --pink: #ff847c;
  --grey: #2a363b;
  --red: #d52b21;
}

html, body {
  background-image: linear-gradient(180deg, #faede1 2.38%, transparent 2.38%, transparent 50%, #faede1 50%, #faede1 52.38%, transparent 52.38%, transparent 100%), linear-gradient(90deg, #faede1 2.38%, transparent 2.38%, transparent 50%, #faede1 50%, #faede1 52.38%, transparent 52.38%, transparent 100%);
  background-size: 44.00px 44.00px;
}
.App {
  text-align: center;
  font-family: latex, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--grey);
  word-spacing: 3px;
  padding-top: 10%;
}
@media only screen and (max-width: 768px) {
  .App {
    padding-top: 20%;
  }
}
@media only screen and (max-width: 480px) {
  .App {
    padding-top: 25%;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #2a363b;
  margin-top: 10%;
}

a.App-link {
  color: var(--pink);
  font-weight: 900;
  font-size: 24pt;
  letter-spacing: 3px;
  text-decoration: none;
}

a.App-link:hover {
  color: #2a363b;
}

div.Icons {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items: flex-start;
  padding: 10px;
}

a.Icons-link {
  color: var(--pink);
  font-weight: 900;
  font-size: 24pt;
  letter-spacing: 3px;
  text-decoration: none;
  margin: 10px;
}

a.Icons-link:hover {
  color: #2a363b;
}

.H1 {
  font-family: september, sans-serif;
  font-weight: 500;
  font-style: normal;
}
